.date-container {
  width: 128px;
  height: 128px;
  text-align: center;
  position: relative;
}

.date-icon {
  fill: var(--color-stamp-red);
  width: 100%;
  height: 100%;
}

.date {
  position: absolute;
  line-height: 2rem;
  top: calc(50% - 1rem);
  left: 0;
  width: 100%;
  margin: 0;
  font-weight: bold;
}
