---
layout: base.njk
headerImg: https://placehold.jp/896x504.png
---
{# css #}
{% block css -%}
<link rel="stylesheet" href="/styles/column3.css" />
<link rel="stylesheet" href="/styles/article.css" />
<link rel="stylesheet" href="/styles/textContent.css" />
{%- endblock%}
<main class="mainContainer">
    <div class="sideLWrapper">
        <div class="sideLInner">
            {% include "shareButtons.njk" %}
            <section class="tableOfContentInner">
                <h3>目次</h3>
                {# 記事内容から自動で目次が作られます #}
                {{content | toc | safe}}
            </section>
        </div>
    </div>
    <div class="contentWrapper">
        <article class="articleInner">
            <section class="articleHeader">
                {% include "breadcrumb.njk" %}
                <h1 class = "title">{{ title }}</h1>
                <div class = "articleDate">
                    {# 公開日 #}
                    <time datetime={{page.date | dateFormat}}>
                        <span class="material-symbols-outlined">calendar_today</span>
                         {{page.date | dateFormat | dateFormatJapanese}}
                    </time>
                    {% if lastEditDate%}
                    {# 更新日 #}
                    <time datetime={{lastEditDate | dateFormat}}>
                        <span class="material-symbols-outlined">published_with_changes</span>
                         {{lastEditDate | dateFormat | dateFormatJapanese}}
                    </time>
                    {% endif %}
                </div>
                {%if headerImg%}
                {# 記事のヘッダー画像 #}
                <div class="resizeImg">
                    <img src= {{headerImg}} />
                </div>
                {%endif%}
            </section>
            <section class="content">
                <article class="mainArticle">
                    {# 記事内容が入ります #}
                    {{content | safe}}
                </article>
            </section>
            <hr>
            <section class="articleHeader">
                {% include "shareButtons.njk" %}
                {% include "categoryList.njk" %}
            </section>
        </article>
    </div>
    <div class="sideRWrapper">
        {% include "sideRInner.njk" %}
    </div>
</main>
