---

title: ほみむメモ
description: ゲームやお絵かきなどいろんなことを書く、ほみの個人サイトです。
date: 2023-07-01
lastEditDate: 2023-07-01
headerImg: /images/homeHeader.png
headerImgAlt: ほみむメモのホームのトップ画像
---

<!DOCTYPE html>
<html lang="ja">
{% include "head.njk" %}
{% include "header.njk" %}
{% include "navigation.njk" %}
{% include "notice.njk" %}
<div class="container">
	{{content | safe}}
</div>
{% include "footer.njk" %}
</html>