---
date: Last Modified
---

<!DOCTYPE html>
<html lang="ja">
{% include "head.njk" %}
{% include "header.njk" %}
{% include "navigation.njk" %}
{% include "notice.njk" %}
<div class="container">
	{{content | safe}}
</div>
{% include "footer.njk" %}
</html>