---
layout: base.njk
eleventyNavigation:
    parent: カテゴリ一覧
    order: 0
pagenation:
    date: collections
    size: 1
    alias: category
---
{# css #}
{% block css -%}
<link rel="stylesheet" href="/styles/categoryListLayout.css" />
<link rel="stylesheet" href="/styles/categoryListThema.css" />
{# カードのcss #}
<link rel="stylesheet" href="/styles/cardLayout.css" />
<link rel="stylesheet" href="/styles/cardThema.css" />
{%- endblock%}

<main class="mainContainer">
    <div class = "sideLWrapper">
    </div>
    <div class="contentWrapper">
        <category class="categoryInner">
            <section class="categoryHeader">
                {% include "breadcrumb.njk" %}
                <h1>{{title}}カテゴリ一覧</h1>
                {# 説明などをここに #}
                {{content | safe}}
            </section>
            <section class="content">
                <div class ="postListsWrapper">
                    <section class = "postList">
                        {# このカテゴリの記事一覧 #}
                        {% set postList = collections[ category ] %}
                        {% import "card.njk" as card %}
                        {# 新しい順で戦闘に来るように処理したいので逆順にする #}
                        {%- for post in postList | dateLatest |reverse %}
                            {{card.card(post)}}
                        {%- endfor %}
                    </section>
                </div>
                {# ページの共有ボタン #}
                {% include "shareButtons.njk" %}
            </section>
        </category>
    </div>
    <div class = "sideRWrapper">
    </div>
</main>