---
layout: base.njk
headerImg: https://placehold.jp/896x504.png
eleventyNavigation:
    parent: home
    order: 0
tags: 
    - categories
---

{# css #}
{% block css -%}
    <link rel="stylesheet" href="/styles/column3.css" />
    <link rel="stylesheet" href="/styles/categoryArticles.css" />
    <link rel="stylesheet" href="/styles/textContent.css" />
    <link rel="stylesheet" href="/styles/categoryDisplay.css" />
    {# includeしてるもののcss #}
    <link rel="stylesheet" href="/styles/card.css" />
    <link rel="stylesheet" href="/styles/pagination.css" />
    {%- endblock%}

    <main class="main-container">
        <div class = "side-l-wrapper"></div>
        <div class = "container-r-wrapper">
            <div class="content-wrapper">
                <category class="categoryInner">
                    <section class="category-list-header">
                        {% include "breadcrumb.njk" %}
                        <h1 class = "column-title">{{title}}カテゴリ一覧</h1>
                        {# 説明などをここに #}
                        {{content | safe}}
                    </section>
                    <section class="content-container">
                        <div class ="post-lists-wrapper">
                            <section class = "post-list">
                                {# このカテゴリの記事一覧 #}
                                {% set startNum = posts.length * pagination.pageNumber %}
                                {% set endNum = startNum + posts.length %}
                                {# 新しい順で先頭に来るように処理したいので逆順にする #}
                                {% set postList = collections[category] | dateLatest | reverse | slice(startNum, endNum)%}
                                {% import "card.njk" as card %}
                                {%- for post in postList  %}
                                    {{card.card(post)}}
                                {%- endfor %}
                            </section>
                        </div>
                        {% include "pagination.njk" %}
                    </section>
                    <hr>
                    <section class="article-footer">
                        {% include "shareButtons.njk" %}
                        {% include "categoryList.njk" %}
                    </section>
                </category>
            </div>
            <div class = "side-r-wrapper">
                {% include "sideRInner.njk" %}
            </div>
        </div>
    </main>