---
layout: base.njk
headerImg: https://placehold.jp/896x504.png
eleventyNavigation:
    parent: home
    order: 0
tags: 
    - categories
---

{# css #}
{% block css -%}
<link rel="stylesheet" href="/styles/categoryArticles.css" />
{# includeしてるもののcss #}
<link rel="stylesheet" href="/styles/card.css" />
<link rel="stylesheet" href="/styles/pagination.css" />
{%- endblock%}

<main class="mainContainer">
    <div class = "sideLWrapper">
    </div>
    <div class="contentWrapper">
        <category class="categoryInner">
            <section class="categoryHeader">
                {% include "breadcrumb.njk" %}
                <h1>{{title}}カテゴリ一覧</h1>
                {# 説明などをここに #}
                {{content | safe}}
            </section>
            <section class="content">
                <div class ="postListsWrapper">
                    <section class = "postList">
                        {# このカテゴリの記事一覧 #}
                        {% set startNum = posts.length * pagination.pageNumber %}
                        {% set endNum = startNum + posts.length %}
                        {# 新しい順で先頭に来るように処理したいので逆順にする #}
                        {% set postList = collections[category] | dateLatest | reverse | slice(startNum, endNum)%}
                        {% import "card.njk" as card %}
                        {%- for post in postList  %}
                            {{card.card(post)}}
                        {%- endfor %}
                    </section>
                </div>
                {% include "pagination.njk" %}
                <hr>
                {# ページの共有ボタン #}
                {% include "shareButtons.njk" %}
                {% include "categoryList.njk" %}
            </section>
        </category>
    </div>
    <div class = "sideRWrapper">
        {% include "sideRInner.njk" %}
    </div>
</main>