---
layout: base.njk
eleventyNavigation:
    parent: カテゴリ一覧
    order: 0
pagenation:
    date: collections
    size: 1
    alias: category
---
{# css #}
{% block css -%}
<link rel="stylesheet" href="/styles/categoryListLayout.css" />
<link rel="stylesheet" href="/styles/categoryListThema.css" />
{%- endblock%}

<main class="mainContainer">
    <div class="contentWrapper">
        <category class="categoryInner">
            <section class="categoryHeader">
                {% include "breadcrumb.njk" %}
                <h1>{{title}}カテゴリ一覧</h1>
                {# 説明などをここに #}
                {{content | safe}}
            </section>
            <section class="content">
                {# このカテゴリの記事一覧 #}
                {% set postList = collections[ category ] %}
                {% import "card.njk" as card %}
                {%- for post in postList | dateLatest  %}
                    <li>
                    {{ card.card(post.headerImg, post.headerImgAlt, post.data.title, post.data.description) }}
                    <a href="{{ post.url }}">{{ post.data.title }}</a>
                    </li>
                {%- endfor %}
                {# ページの共有ボタン #}
                {% include "shareButtons.njk" %}
            </section>
        </category>
    </div>
</main>