---
layout: base.njk
headerImg: https://placehold.jp/896x504.png
eleventyNavigation:
    parent: home
    order: 0
---

{# css #}
{% block css -%}
    <link rel="stylesheet" href="/styles/column3.css" />
    <link rel="stylesheet" href="/styles/categoryArticles.css" />
    <link rel="stylesheet" href="/styles/textContent.css" />
    <link rel="stylesheet" href="/styles/categoryDisplay.css" />
    {# includeしてるもののcss #}
    <link rel="stylesheet" href="/styles/card.css" />
    <link rel="stylesheet" href="/styles/pagination.css" />
    {%- endblock%}

    <main class="main-container">
        <div class = "side-l-wrapper"></div>
        <div class = "container-r-wrapper">
            <div class="content-wrapper">
                <category class="categoryInner">
                    <section class="category-list-header">
                        {% include "breadcrumb.njk" %}
                        <h1 class = "column-title">{{title}}</h1>
                        {# 説明などをここに #}
                        {{content | safe}}
                    </section>
                    <section class="content-container">
                        <div class ="post-lists-wrapper">
                            {% set categoryPosts = collections.sortedCategorizedArticles %}
                            {% if category != "articles" %}
                                {% set categoryPosts = collections.sortedCategorizedArticles | filterByCategory(category) %}
                            {% endif %}
                            {% set startNum = pagination.size * pagination.pageNumber %}
                            {% set endNum = startNum + posts.length %}
                            {% set postList = categoryPosts | slice(startNum, endNum) %}
                            <p>全 {{categoryPosts.length}} 件 （{{startNum + 1}} 件目～ {{endNum}} 件目）</p>
                        <section class = "post-list">
                            {# このカテゴリの記事一覧 #}
                            {% import "card.njk" as card %}
                            {%- for post in postList  %}
                                {{card.card(post)}}
                            {%- endfor %}
                        </section>
                    </div>
                    {% include "pagination.njk" %}
                </section>
                <hr>
                <section class="article-footer">
                    {% include "shareButtons.njk" %}
                    {% include "categoryList.njk" %}
                </section>
            </category>
        </div>
        <div class = "side-r-wrapper">
            {% include "sideRInner.njk" %}
        </div>
    </div>
</main>