---
layout: base.njk
permalink: /400.html
eleventyExcludeFromCollections: true
title: Error
---

<link rel="stylesheet" href="/styles/error.css" />

<main class="mainContainer">
	<div class = "errorContainer">
		<div class="resizeImg">
			<img src="/images/items/error.svg" />
		</div>
		<div class = "errorContainerInner">
		<h1>{{title}}</h1>
			{{content | safe}}
		</div>
	</div>
</main>