{# 
{% import "card.njk" as card %}

{% for post in postList %}
    {{ card.card(post.headerImg, post.headerImgAlt, post.data.title, post.data.description) }}
    <a href="{{ post.url }}">{{ post.data.title }}</a>
{% endfor %}

#}
{# css #}
{% block css -%}
<link rel="stylesheet" href="/styles/cardLayout.css" />
<link rel="stylesheet" href="/styles/cardThema.css" />
{%- endblock%}

{% macro card(image, alt, title, description) %}
    <div class="card">
        <img src="{{ image }}" alt="{{ alt }}">
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
    </div>
{% endmacro %}
