{% macro categoryDisplay(categoryName) %}
    <div class="category-display">
        <span class="material-symbols-outlined category-mark"></span>
        {{ categoryName }}
    </div>
{% endmacro %}