<h3>カテゴリ一覧</h3>
<ul class = "categories">
{# ナビゲーションを利用してフィルタリング #}
{%- for category in collections.categories -%}
  <li><a href="{{ category.url }}">{{ category.data.title }}</a></li>
{%- endfor -%}
</ul>
