{# フッターのcss #}
{% block css -%}
<link rel="stylesheet" href="/styles/footer.css" />
{%- endblock%}

<footer class="footerContainer">
    <div class = "footer-inner">
        {# サイト内リンク #}
        <div class = "sitMap">
            <a href = "/privacyPolicy">
                <span>プライバシーポリシー</span>
            </a>
        </div>
        <hr class ="hr">
    	<p>外部リンク</p>
        <div class ="links">
            {% include "myLink.njk" %}
        </div>
        {# フッターロゴ #}
        <a class ="logoLink" href  = "/">
            <div class="homeImg">
                <img class = "footerLogo" src="/images/logo.png" />
            </div>
        </a>
        {# copyright #}
        <p class = "copyright">© 2023- ほみ</p>
    </div>
</footer>