{# フッターのcss #}
{% block css -%}
<link rel="stylesheet" href="/styles/footer.css" />
{%- endblock%}

<footer class="footerContainer">
    <div class = "footer-inner">
        {# サイトマップ #}
        
    	<p>外部リンク</p>
        {% include "myLink.njk" %}
        {# フッターロゴ #}
        <a href  = "/">
            <div class="homeImg">
                <img class = "footerLogo" src="/images/logo.png" />
            </div>
        </a>
        {# copyright #}
        <p class = "copyright">©2023- ほみ</p>
    </div>
</footer>