{# css #}
{% block css -%}
<link rel="stylesheet" href="/styles/hamburgerLayout.css" />
<link rel="stylesheet" href="/styles/hamburgerThema.css" />
{%- endblock%}

<div class = "hamburgerMenu">
  <input type="checkbox" id="menu-toggle">
  <label for="menu-toggle" class="menu-btn">
    <span class="hamburger">≡</span>
  </label>
  <ul class="menu">
  {{collections.all | eleventyNavigation("home") | eleventyNavigationToHtml | safe }}
  </ul>
</div>