{# css #}
{% block css -%}
<link rel="stylesheet" href="/styles/hamburgerLayout.css" />
<link rel="stylesheet" href="/styles/hamburgerThema.css" />
{%- endblock%}

<div class = "hamburgerMenuWrapper">
  <div class = "hamburgerMenuInner">
    <input type="checkbox" id="menu-toggle" class ="menu-toggle">
    <label for="menu-toggle" class="menu-btn" tabindex="0">
      <span class="hamburger"></span>
    </label>
    <ul class="menuList">
    {{collections.all | eleventyNavigation("home") | eleventyNavigationToHtml | safe }}
    </ul>
  </div>
</div>