{# ヘッダーのcss #}
{% block css -%}
<link rel="stylesheet" href="/styles/headerLayout.css" />
<link rel="stylesheet" href="/styles/headerThema.css" />
{%- endblock%}

<header class="headerContainer">
    <div class = "header-inner">
        ヘッダー
    </div>
    {# お知らせがあるときはここに直接記述 #}
    {# <div class="headerNotice">
    </div> #}
</header>