<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
    {{ title }} | 
    {% if title != data.globalTitle %}
        {{data.globalTitle}}
    {% else %}
        {{data.globalDescription}}
    {% endif %}
</title>
<meta name = "description" content ="{{description}}" />
<meta name = "date" content = {{page.date | dateFormat}} />
{# Twitter Cards #}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@homiRoni" />
<meta name="twitter:domain" content="homironi.com" />
<meta name="twitter:title" content={{title}} />
<meta name="twitter:description" content={{description}} />
<meta name="twitter:image" content={% if headerImg %}{{headerImg}}{% else %}"/images/homeHeader"{% endif %} />
<meta name="twitter:image:alt" content={{headerImgAlt}} />
{# ファビコン #}
<link rel="icon" href="/images/favicon.svg" type="image/svg+xml" />
{# フォント #}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
{# Prism.js 関連 #}
<link rel="stylesheet" href="/styles/prism.css">
<script src="/scripts/prism.js"></script>
<script src="/scripts/prism_dark.js"></script>
{# GoogleMaterial #}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
{# css #}
<link rel="stylesheet" href="/styles/reset.css" />
<link rel="stylesheet" href="/styles/base.css" />
<link rel="stylesheet" href="/styles/baseElement.css" />
{# ベース以外のcss #}
{% block css -%}{%- endblock%}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V6P1VWVXYK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-V6P1VWVXYK');
    </script>