{# ヘッダーのcss #}
{% block css -%}
<link rel="stylesheet" href="/styles/header.css" />
{%- endblock%}

<header class="headerContainer">
    <div class = "header-inner">
        <a href  = "/">
            <div class="homeImg">
                <img src="/images/logo.png" />
            </div>
        </a>
    </div>
</header>