<div class ="my-link">
    {# ツイッター #}
    <a href="https://twitter.com/homiRoni?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">
    Follow @homiRoni</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {# youtube #}
    <script src="https://apis.google.com/js/platform.js"></script>
    <div class="g-ytsubscribe" data-channelid="UCbPm_K8ZG7u5tg66TwY8Z1Q" data-layout="default" data-count="default"></div>
    {# Git Hub #}
    <a href = "https://github.com/mimimiRoni" class = "github-link" target="_blank" rel="noopener noreferrer">
        <div class = "resizable-img">
            <img src = "/images/logo/github/github-mark-white.svg">
        </div>
    </a>
</div>