{# css #}
{% block css -%}
<link rel="stylesheet" href="/styles/naviLayout.css" />
<link rel="stylesheet" href="/styles/naviThema.css" />
{%- endblock%}
<nav class = "navigationBar">
    {% include "siteNavigation.njk" %}
</nav>
{% include "hamburger.njk" %}