{# css #}
{% block css -%}
<link rel="stylesheet" href="/styles/naviLayout.css" />
<link rel="stylesheet" href="/styles/naviThema.css" />
{%- endblock%}
<nav class = "navigationBar">
    {{collections.all | eleventyNavigation("home") | eleventyNavigationToHtml | safe }}
</nav>