{% block css -%}
<link rel="stylesheet" href="/styles/headerNotice.css" />
{%- endblock%}
{# お知らせ #}
<div class="headerNotice">
    <a href  = "/">
        <div class="resizeImg paa">
            <img src = "/images/items/paa.png" />
        </div>
    </a>
</div>