{% block css -%}
    <link rel="stylesheet" href="/styles/paa.css" />
    {%- endblock%}
    <a href  = "/">
        <div class="resizable-img paa">
            {# だいたい最初にうつるのでLazyは設定しない #}
            <img src = "/images/items/homi.webp" alt="ほみのキャラ画像" />
        </div>
    </a>