{% block css -%}
    <link rel="stylesheet" href="/styles/paa.css" />
    {%- endblock%}
    <a href  = "/">
        <div class="resizable-img paa">
            <img loading="lazy" src = "/images/items/homi.png" alt="ほみのキャラ画像" />
        </div>
    </a>