{% block css -%}
    <link rel="stylesheet" href="/styles/paa.css"/>
    {%- endblock%}
    <a href  = "/">
        <div class="resizeImg paa">
            <img src = "/images/items/homi.png"/>
        </div>
    </a>