<div class="profile contentBlock">
    <p>管理人</p>
    <div class="resizeImg icon">
        <img src="/images/items/homi.png" />
    </div>
    <h2 class="name">ほみ</h2>
    <div class="myDescription">
        <p>プログラミングとか<br />
        おえかきとか<br />
        いろいろするのがすき</p>
        {% include "myLink.njk" %}
        <a class="aboutLink" href="/about/" target="_blank">
            <p>サイトについての詳細</p>
        </a>
    </div>
</div>