<div class="profile content-block">
    <p>運営者</p>
    <div class="resizable-img icon">
        <img loading="lazy" src="/images/items/homi.png" />
    </div>
    <a href="/about/">
        <h2 class="name">ほみ</h2>
    </a>
    <div class="myDescription">
        <p>プログラミングとか<br />
        おえかきとか<br />
        いろいろするのがすき</p>
        {% include "myLink.njk" %}
        <a class="about-link" href="/about/" target="_blank">
            <p>サイトについての詳細</p>
        </a>
    </div>
</div>