{# カテゴリごと #} 
<ul class = "categories">
    <li class = "noLink">カテゴリ一覧</li>
    <ul>
        <li><a href = "/categories/memo">雑記</a></li>
        <li><a href = "/categories/makeWeb">Web制作</a></li>
        <li><a href = "/categories/developOther">開発系その他</a></li>
    </ul>
</ul>
{# サイトについて #}
<ul class = "abouts">
    <li><a href = "/about">このサイトについて</a></li>
    <li><a href = "/contact">お問い合わせ</a></li>
    <ul>
        <li><a href = "/privacyPolicy">プライバシーポリシー</a></li>
        <li><a href = "/disclaimer">免責事項とその他権利について</a></li>
    </ul>
</ul>
