{# カテゴリごと #} 
<ul class = "categories">
    <li><a href = "/categories">カテゴリ一覧</a></li>
    <ul>
        <li><a href = "/categories/memo">雑記</a></li>
    </ul>
</ul>
{# サイトについて #}
<ul class = "abouts">
    <li><a href = "/about">このサイトについて</a></li>
    <li><a href = "/contact">お問い合わせ</a></li>
    <ul>
        <li><a href = "/privacyPolicy">プライバシーポリシー</a></li>
        <li><a href = "/disclaimer">免責事項</a></li>
    </ul>
</ul>
