---
layout: base.njk
title: カテゴリー
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /category/{{ tag }}/
---

{% include "head.njk" %}
{# 記事一覧のcss #}
{% block css -%}

{%- endblock%}

<div class="container">
    <main class="mainContainer">
        <div class="contentWrapper">
            <h1>カテゴリー： {{ tag }}</h1>
            <ol>
            {% set taglist = collections[ tag ] %}
            {% for post in taglist | reverse %}
            <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
            {% endfor %}
            </ol>
        </div>
    </main>
</div>
{% include "footer.njk" %}