<ul class="tags">
    {% for tag in tags %}
        {% set tagPage = null %}
        {% for page in collections.tags %}
            {% if page.data.eleventyNavigation.key == tag %}
                {% set tagPage = page %}
            {% endif %}
        {% endfor %}
        {% if tagPage %}
            <li>
                <a href="{{ tagPage.url }}">
                    <div class="tags-display">
                        <span class="material-symbols-outlined tag-mark"></span>
                        {{ tag }}
                    </div>
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>