---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"h2"> {};

const props = Astro.props;
---

<h2 class="container" {...props}>
  <a href=`#${props.id}`>
    <slot/>
  </a>
</h2>

<style>
  .container{
    background-color: var(--color-sub);
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 4px;
  }

  .container :global(a){
    text-decoration: none;
  }
</style>
