---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"h3"> {};

const props = Astro.props;
---

<h3 class="container" {...props}>
  <a href=`#${props.id}`>
    <slot/>
  </a>
</h3>

<style>
  .container{
    margin: 2rem 0 1rem 0;
    border-bottom: 1px solid var(--color-sub);
  }

  .container :global(a){
    text-decoration: none;
  }

  .container :global(a::before){
    display: inline-block;
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--color-sub);
    vertical-align: middle;
  }
</style>
