{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "endOfLine": "crlf",
    "bracketSameLine": true,
    "printWidth": 80,
    "htmlWhitespaceSensitivity": "css"
}
