.contentWrapper {
	background-color: var(--color-main);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-main);
}
.tableOfContentInner {
	background-color: var(--color-main);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-main);
	border-radius: 6px;
	border-top: solid 12px var(--color-accent);
}

.articleInner .tableOfContentInner {
	background-color: var(--color-main);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-main);
}
.sideRInner {
	background-color: var(--color-main);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-main);
}
