html {
	font-family: "IBM Plex Sans JP", sans-serif;
	background-color: var(--color-main);
	background-image: url(../images/backGround.png);
	background-size: 256px;
	background-repeat: repeat;
	color: var(--text-color-black);
}
.container {
	margin: 32px 0;
}
.resizeImg img {
	width: 100%;
}
