.contentWrapper {
	background-color: var(--color-main);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-main);
}

/* ページネーションナビ */
.pagiNav li {
	color: var(--text-color-white);
	font-size: 1.5em;
}

.pagiNav li a {
	color: var(--text-color-white);
	text-decoration: none;
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background-color: var(--color-sub);
	border-radius: 50%;
	transition: transform 0.3s;
}

.pagiNav li a:hover {
	transform: scale(1.1);
}

.current {
	font-weight: bold;
}

.pagiNav .between,
.pagiNav .between:hover {
	background-color: unset;
	color: var(--text-color-black);
}
