.mainContainer {
	display: -webkit-flex;
	display: flex;
	width: var(--content-width);
	margin: 0 auto;
}
.contentWrapper {
	-webkit-flex: 8;
	flex: 8;
	margin: 0 32px;
}
.sideLWrapper {
	-webkit-flex: 1;
	flex: 1;
}
.sideRWrapper {
	-webkit-flex: 1;
	flex: 1;
}

.postList {
	display: flex;
}

.postList li {
	list-style: none;
}

.card {
	width: 50%;
	height: 30%;
	margin: 4px;
}
