.menuList {
	background-color: var(--color-sub);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px 0 var(--shadow-spread-radius) var(--color-sub-dark);
}

.menuList ul li a {
	color: var(--text-color-white);
}

.menuList ul li a:hover {
	background-color: var(--color-sub-dark);
}

.menuList ul li a:hover::before {
	content: "▽";
}
