.menuList {
	background-color: var(--color-sub);
	border: solid 2px var(--color-sub-dark);
}

.menuList ul li a {
	color: var(--text-color-white);
}

.menuList ul li a:hover {
	background-color: var(--color-sub-dark);
}

.menuList ul li a:hover::before {
	content: "▽";
}
