.navigationBar {
	background-color: var(--color-black-area);
}

.navigationBar ul li a {
	color: var(--text-color-white);
	text-decoration: none;
}

.navigationBar ul li a::after {
	background-color: var(--color-main);
}

.navigationBar ul li a:hover {
	color: var(--text-color-white-dark);
}
