.button{
  padding: 8px 12px;
  border-radius: var(--border-radius);
}

.filled{
  background-color: var(--color-main);
  border: none;
  border-radius: var(--border-radius);
}

.outlined{
  background-color: unset;
  border: 2px solid var(--border-color-main);
}

.text{
  border: none;
  background: none;
}

.filled:hover,
.outlined:hover,
.text:hover {
  background-color: var(--color-main-hover);
}
