.title {
    margin-top: 0;
    font-weight: normal;
}

.container{
    --padding-toc: 16px;

    margin: 0;
    padding: var(--padding-toc);
    max-height: calc(100vh - var(--padding-toc) * 4);
    overflow: auto;
}


@media screen and (width <= 500px){
    .container{
        max-height: calc(40vh - var(--padding-toc) * 4);
    }
}
