.title {
    margin-top: 0;
    font-weight: normal;
}

.container{
    --padding-toc: 16px;

    background-color: var(--color-main);
    box-shadow: 0 0 var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-main);
    margin: 0;
    padding: var(--padding-toc);
    max-height: calc(100vh - var(--padding-toc) * 4);
    overflow: auto;
}
