

/* リスト共通スタイル */
.article-contents-container ul,
.article-contents-container ol{
  padding-left: 1.5rem;
}

.article-contents-container ul li,
.article-contents-container ol li {
  line-height: 1.5em;
}

.article-contents-container li::marker {
  color: var(--text-color-pale);
}

/* タスクリストは除外 */
.article-contents-container .contains-task-list,
.article-contents-container .task-list-item {
  padding-left: 0;
  list-style: none;
}

/* タスクリストのスタイル */
.task-list-item > .contains-task-list {
  padding-left: 1.4em;
}

.task-list-item-checked .task-list-checkbox-checked,
.task-list-item-unchecked .task-list-checkbox-unchecked {
  width: 1.4em;
  height: 1.4em;
  color: var(--text-color-pale);
  flex-shrink: 0;
  margin-right: 4px;
  margin-top: 0.1em;
  vertical-align: middle;
}
