

/* リスト共通スタイル */
.article-contents-container ul li,
.article-contents-container ol li {
  position: relative;
  padding-left: 1em;
  line-height: 1.5em;
}

.article-contents-container ol li {
  padding-left: 1.5em;
}

.article-contents-container ul li::before,
.article-contents-container ol li::before {
  position: absolute;
  left: 0;
  color: var(--text-color-pale);
}

/* 番号ありリスト（ol） */
.article-contents-container ol {
  counter-reset: list-counter;
  list-style: none;
}

.article-contents-container ol li::before {
  content: counter(list-counter) ". ";
  counter-increment: list-counter;
  font-size: 1.2em;
  position: absolute;
}

/* 番号なしリスト（ul） */
.article-contents-container ul {
  list-style: none;
}

.article-contents-container ul li::before {
  content: "●";
  vertical-align: middle;
  font-size: 0.8rem;
  top: 0.1em;
}

/* ネストしたリスト - 2レベル目 */
.article-contents-container ul li ul li::before {
  content: "○";
  font-size: 0.8rem;
}

/* ネストしたリスト - 3レベル目 */
.article-contents-container ul li ul li ul li::before {
  content: "・";
  font-size: 1.3rem;
}

/* タスクリストは除外 */
.article-contents-container .task-list-item {
  padding-left: 0;
}

.article-contents-container .task-list-item::before {
  display: none;
}

/* タスクリストのスタイル */
.task-list-item > .contains-task-list {
  padding-left: 1.4em;
}

.task-list-item-checked .task-list-checkbox-checked,
.task-list-item-unchecked .task-list-checkbox-unchecked {
  width: 1.4em;
  height: 1.4em;
  color: var(--text-color-pale);
  flex-shrink: 0;
  margin-right: 4px;
  margin-top: 0.1em;
  vertical-align: middle;
}
