.container{
    max-width: 100%;
    height: auto;
    margin: 0.5em 0;
}

.link{
    max-width: 100%;
    text-decoration: none;
    color: inherit;
    display: flex;
    min-width: 0;
    border: 1px solid var(--border-color-main);
    border-radius: var(--border-radius);
}

.image-container{
    flex: 1 1 180px;
    position: relative;
}

.image-container-2{position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
}

.image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.texts{
    flex: 5 1 180px;
    display: block;
    font-size: 0.9rem;
    overflow: hidden;
    padding: 1rem;
}

.title{
    font-size: 0.9rem;
    height: 1em;
}

.description{
    font-size: 0.8rem;
    color: var(--text-color-pale);
    line-height: 1.5em;
    height: 3em;
}

.url{
    font-size: 0.8rem;
    height: 1em;
}

.title,
.url{
    line-height: 1.5em;
    height: 1.5em;
}

.title,
.description,
.url{
    overflow: hidden;
    text-overflow: ellipsis;
}