.articleHeader,
.content {
	margin: 24px 0;
}

.articleInner .tableOfContentInner {
	margin: 32px;

	background-color: var(--color-main);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-main);
}

.sideLInner {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.tableOfContentInner {
	padding: 3%;

	background-color: var(--color-main);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-main);
	border-radius: 6px;
	border-top: solid 12px var(--color-sub);
}

/* テキストの装飾に関するもの */
.articleDate {
	color: var(--text-color-black-pale);
	font-size: 0.8em;
	text-align: right;
}

.mainArticle h2::before {
	display: inline-block;
	content: "";
	width: 1.2em;
	height: 1.2em;

	background: url(/images/icon_chara.svg) no-repeat;
	background-size: contain;
	margin-right: 0.2em;
	vertical-align: middle;
}

.mainArticle h2 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 2em;
	padding: 0.18em 0;

	border-style: double;
	border-color: var(--color-sub);
	border-width: 0.2em 0;
}

.mainArticle h3 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 1.5em;

	border-style: solid;
	border-color: var(--color-sub);
	border-width: 0 0 0.1em 0;
}

@media screen and (max-width: 768px) {
	.articleDate time {
		display: block;
	}
}
