.content {
	margin: 3em 0;
}

.articleInner .tableOfContentInner {
	margin: 32px;

	background-color: var(--color-main);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-main);
}

.sideLInner {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

@media screen and (max-width: 1280px) {
	.articleFooter .categoryListWrapper {
		display: none;
	}
}

/* テキストの装飾に関するもの */
@media screen and (max-width: 768px) {
	.articleDate time {
		display: block;
	}
}

/* 目次 */
.tableOfContentInner {
	padding: 1em;

	background-color: var(--color-main);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-main);
	border-radius: 6px;
	border-top: solid 12px var(--color-sub);
}

.toc li::before {
	content: "▷";
}

.toc a {
	text-decoration: none;
	color: var(--text-color-black);
}

.toc a:hover {
	color: var(--text-color-black-pale);
}

.toc ol ol {
	margin-left: 1em;
}
