.articleHeader,
.content {
	margin: 24px 0;
}

.articleInner .tableOfContentInner {
	margin: 32px;

	background-color: var(--color-main);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-main);
}

.mainContainer {
	display: -webkit-flex;
	display: flex;
	width: var(--content-width);
	margin: 0 auto;
}

.contentWrapper {
	-webkit-flex: 4;
	flex: 6;
	margin: 0 3%;

	background-color: var(--color-main);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-main);
}

.sideLWrapper {
	-webkit-flex: 1;
	flex: 2;
}

.sideRWrapper {
	-webkit-flex: 1;
	flex: 2;
}

.sideRInner {
	padding: 8px;

	background-color: var(--color-main);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-main);
}

.sideLInner {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.tableOfContentInner {
	padding: 3%;

	background-color: var(--color-main);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-main);
	border-radius: 6px;
	border-top: solid 12px var(--color-sub);
}

/* 横幅が指定ピクセルまで、以下を適用 */
@media screen and (max-width: 1280px) {
	.mainContainer {
		display: -webkit-flex;
		display: flex;
		width: auto;
		margin: 0 2%;
	}
	.sideRWrapper {
		display: none;
	}
	.contentWrapper {
		margin-right: 0;
		margin-left: 2%;
	}
}

@media screen and (max-width: 768px) {
	.mainContainer,
	.contentWrapper,
	.sideLWrapper,
	.sideRWrapper {
		display: block;
	}
	.contentWrapper {
		margin: 2% 0;
	}
}

/* テキストの装飾に関するもの */
.articleDate {
	color: var(--text-color-black-pale);
	font-size: 0.8em;
	text-align: right;
}

.content h2::before {
	display: inline-block;
	content: "";
	width: 1.2em;
	height: 1.2em;

	background: url(/images/favicon.svg) no-repeat;
	background-size: contain;
	margin-right: 0.2em;
	vertical-align: middle;
}

.content h2 {
	margin-top: 1em;
	margin-bottom: 0.5em;

	border-bottom: 0.1em solid var(--color-sub);
}

.content hr {
	margin: 1em 0;
}

@media screen and (max-width: 768px) {
	.articleDate time {
		display: block;
	}
}
