.articleHeader,
.content {
	margin: 24px 0;
}
.articleInner .tableOfContentInner {
	margin: 32px;
}
.mainContainer {
	display: -webkit-flex;
	display: flex;
	width: var(--content-width);
	margin: 0 auto;
}
.contentWrapper {
	-webkit-flex: 4;
	flex: 6;
	margin: 0 3%;
}
.sideLWrapper {
	-webkit-flex: 1;
	flex: 2;
}
.sideRWrapper {
	-webkit-flex: 1;
	flex: 2;
}

.sideRInner {
	padding: 8px;
}
.sideLInner {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}
.tableOfContentInner {
	padding: 3%;
}

/* 横幅が指定ピクセルまで、以下を適用 */
@media screen and (max-width: 1280px) {
	.mainContainer {
		display: -webkit-flex;
		display: flex;
		width: auto;
		margin: 0 2%;
	}
	.sideRWrapper {
		display: none;
	}
	.contentWrapper {
		margin-right: 0;
		margin-left: 2%;
	}
}

@media screen and (max-width: 768px) {
	.mainContainer,
	.contentWrapper,
	.sideLWrapper,
	.sideRWrapper {
		display: block;
	}
	.contentWrapper {
		margin: 2% 0;
	}
}

/* テキストの装飾に関するもの */
.articleDate {
	color: var(--text-color-black-pale);
	font-size: 0.9em;
}

.content h2::before {
	display: inline-block;
	content: "";
	width: 1.2em;
	height: 1.2em;
	background: url(/images/icon.png) no-repeat;
	background-size: contain;
	margin-right: 0.2em;
	vertical-align: middle;
}

.content h2 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.content hr {
	margin: 1em 0;
}
