html {
    font-family: "Kosugi Maru", sans-serif;

    background-color: var(--color-main);
    background-image: url(/images/background.svg);
    background-size: 256px;
    background-repeat: repeat;
    color: var(--text-color-black);
}

/* 背景画像だけ個別でダークテーマ設定 */
@media (prefers-color-scheme: dark) {
    html {
        background-image: url(/images/background_dark.svg);
    }
}

.container {
    margin: 32px 0;
}

.contentWrapper {
    padding: 1.5em;
}

.resizeImg img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 0.8em;
    }
}
