html {
	font-family: "Kosugi Maru", sans-serif;

	background-color: var(--color-main);
	background-image: url(/images/background.svg);
	background-size: 256px;
	background-repeat: repeat;
	color: var(--text-color-black);
}

.container {
	margin: 32px 0;
}

.contentWrapper {
	padding: 1.5em;
}

.resizeImg img {
	width: 100%;
}

/* GoogleMaterial */
.material-symbols-outlined::before {
	vertical-align: -0.16em;
}

.material-symbols-outlined.tocTitle::before {
	content: "\e8de";
}

.material-symbols-outlined.publicationDate::before {
	content: "\e935";
}

.material-symbols-outlined.lastEdit::before {
	content: "\f232";
}
