:root {
	/* color */
	--color-main: #fcf9f7;
	--shadow-color-main: #f3e8e4;
	--shadow-color-main-pale: #ebddd8d5;
	--color-sub: #79cdee;
	--color-sub-alpha: #79cdeee3;
	--color-sub-pale: #a9dcf0;
	--color-sub-dark: #79bcd6;
	--color-accent: #fdb515;
	--color-black-area: #333333;
	--color-black-area-hover: #555555;
	--text-color-white: #ffffff;
	--text-color-white-dark: #dbd9d9;
	--text-color-black: #111111;
	--text-color-black-pale: #858585;

	/* property */
	--shadow-blur-radius: 8px;
	--shadow-spread-radius: 1px;

	--content-width: 1240px;
	--header-content-height: 80px;
	--heder-notice-height: 80px;
	--header-height: calc(var(--header-content-height) + var(--heder-notice-height));
	--border-bottom-h2: 4px;
}
