.card img {
	width: 100%;
}
.cardContent {
	margin: 2%;
}
.title {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* Number of lines to display */
	-webkit-box-orient: vertical;
}
.description {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* Number of lines to display */
	-webkit-box-orient: vertical;
	height: 50px;
}
