h3.category-list-header {
    margin: 1em 0;
}

.category-list li {
    margin: 0.5em;
    display: inline-block;
}

.category-list li:first-child {
    margin-left: 0;
}

.category-list li:last-child {
    margin-right: 0;
}

.category-list a {
    color: var(--text-color-black);
    text-decoration: none;
    background-color: var(--color-main-dark);
    padding: 0.6em;
    border-radius: 1em;
}

.category-list a:hover {
    color: var(--text-color-black-hover);
}

@media screen and (max-width: 1280px) {
    .article-footer .category-list-wrapper {
        display: none;
    }
}
