.mainContainer {
	display: -webkit-flex;
	display: flex;
	width: 80%;
	margin: 0 auto;
}
.contentWrapper {
	-webkit-flex: 8;
	flex: 8;
	margin: 0 3%;
}
.sideLWrapper {
	-webkit-flex: 1;
	flex: 1;
}
.sideRWrapper {
	-webkit-flex: 1;
	flex: 1;
}

.postList li {
	list-style: none;
}

.postList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.cardWrapper {
	width: 50%; /* Adjust the width as needed */
	margin-bottom: 20px; /* Adjust the spacing between postLists */
}
.card {
	width: calc(50% - 20px); /* Adjust the width and spacing as needed */
	height: calc(10% - 10px); /* Adjust the height and spacing as needed */
	margin-bottom: 10px; /* Adjust the vertical spacing between cards */
}

/* 横幅が指定ピクセルまで、以下を適用 */
@media screen and (max-width: 1280px) {
	.mainContainer {
		display: -webkit-flex;
		display: flex;
		width: auto;
		margin: 0 2%;
	}
	.sideRWrapper {
		display: none;
	}
	.contentWrapper {
		margin-right: 0;
		margin-left: 2%;
	}
}

@media screen and (max-width: 768px) {
	.mainContainer,
	.contentWrapper,
	.sideLWrapper,
	.sideRWrapper {
		display: block;
	}
	.contentWrapper {
		margin: 0;
	}

	.postList {
		display: block;
	}
	.card {
		width: 100%;
		height: 60%;
		margin: 0;
	}
}
