.contentWrapper {
	-webkit-flex: 4;
	flex: 6;
	margin: 0 3%;

	background-color: var(--color-main);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-main);
}

.mainContainer {
	display: -webkit-flex;
	display: flex;
	width: var(--content-width);
	margin: 0 auto;
}

.containerRWrapper {
	display: flex;
}

.sideLWrapper {
	-webkit-flex: 2;
	flex: 2;
}

.sideRWrapper {
	-webkit-flex: 2;
	flex: 2;
}

/* 横幅が指定ピクセルまで、以下を適用 */
@media screen and (max-width: 1280px) {
	.containerRWrapper {
		display: block;
	}

	.mainContainer {
		width: unset;
	}
	.containerRWrapper,
	.sideLWrapper {
		width: auto;
		margin: 0 2%;
	}
	.sideLWrapper {
		margin-right: 0;
	}
	.sideRWrapper {
		display: block;
		margin-top: 1em;
	}
	.contentWrapper,
	.sideRWrapper {
		margin-right: 0;
		margin-left: 1.4em;
	}
}

@media screen and (max-width: 768px) {
	.mainContainer,
	.containerRWrapper,
	.contentWrapper,
	.sideLWrapper,
	.sideRWrapper {
		display: block;
	}
	.mainContainer {
		margin: 0 1em;
	}
	.contentWrapper,
	.sideRWrapper {
		margin: 0;
	}
	.containerRWrapper,
	.sideLWrapper,
	.sideRWrapper {
		margin: 1em 0;
	}
}

.title {
	margin: 1em 0 0.5em 0;
}

.content hr {
	margin: 1em 0;
}
