.footerContainer {
    padding: 2% 4%;
    background-color: var(--color-black-area);
    color: var(--text-color-white);
    font-size: 0.8em;
}

@media (prefers-color-scheme: dark) {
    /* ダークテーマのときも白文字がいいので黒文字（ダークテーマのときは白になってる） */
    .footerContainer {
        color: var(--text-color-black);
    }
}

.logoImg {
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

.footerLogo {
    display: inline-block;
}

.footerLogo {
    margin: 0 auto;
}

.copyright {
    text-align: center;
}

.copyright {
    margin: 1% 0;
}

.hr {
    margin: 2% 0;
}

@media screen and (max-width: 768px) {
    .logoImg {
        width: 30%;
    }
}

/* リンクの設定 */
.links {
    margin: 2% 0;
}

.twitter-follow-button,
.g-ytsubscribe {
    display: inline-block;
}

.githubLink .resizeImg {
    display: inline-block;
    width: 2em;
    margin: 0 1%;
}

/* siteNavigation */
.siteNavigation {
    display: flex;
}

.siteNavigation li {
    margin: 0.8em 0;
}

.siteNavigation ul {
    margin: 0 2%;
}

.siteNavigation ul ul {
    padding-left: 1em;
}

.siteNavigation .abouts ul {
    padding-left: 0;
    margin: 0;
}

.siteNavigation ul ul ul {
    display: none;
}

.siteNavigation li a {
    color: var(--text-color-white);
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    /* ダークテーマのときも白文字がいいので黒文字（ダークテーマのときは白になってる） */
    .siteNavigation li a {
        color: var(--text-color-black);
    }
}

.siteNavigation li a::before {
    content: ">";
}

.siteNavigation li a:hover {
    color: var(--text-color-white-hover);
}

@media (prefers-color-scheme: dark) {
    /* ダークテーマのときも白文字がいいので黒文字（ダークテーマのときは白になってる） */
    .siteNavigation li a:hover {
        color: var(--text-color-black-hover);
    }
}

.siteNavigation .categories {
    flex: 1;
}

.siteNavigation .abouts {
    flex: 1;
}
