.menuList {
	background-color: var(--color-black-area);
}

.menuList ul li a {
	color: var(--text-color-white);
}

.menuList ul li a:hover {
	background-color: var(--color-black-area-hover);
}

.menuList ul li a:hover::before {
	content: "▼";
}
