div.navigationBar {
	position: relative;
	z-index: 1;
}

/**
* ハンバーガーメニューのラッパー
*/
div.hamburgerMenuWrapper {
	/* ハンバーガーメニューを表示する */
	display: block;
	width: 60%;
	/* 絶対配置 */
	position: fixed;
	top: 0;
	right: 0;
	z-index: 3;
}

/**
 * ナビゲーションメニューのボタンがクリックされたかを判別するためのチェックボックス
 */
.menu-toggle {
	/* 非表示 */
	display: none;
}

/**
 * ナビゲーションメニューのボタン
 */
.menu-btn {
	display: block;
	width: 3em;
	height: 3em;
	/* 右寄せ */
	margin: 0 0 5px auto;
	position: relative;
	z-index: 1;

	background-color: var(--color-sub-alpha);
	border-radius: 50%;
	border: solid var(--color-sub-light) 0.1em;

	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-common),
		0 0 0 0.08em var(--color-sub-dark);
}

/* 三本線を作る */
.menu-btn span,
.menu-btn:before,
.menu-btn:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 25px;
	height: 2.5px;
	margin: auto;
	background-color: var(--text-color-white);
}
@media (prefers-color-scheme: dark) {
	/* ダークテーマもでも白になるように、ダークテーマでの白を指定 */
	.menu-btn span,
	.menu-btn:before,
	.menu-btn:after {
		background-color: var(--text-color-black);
	}
}

/**
 * 真ん中の線
 */
.menu-btn span {
	z-index: 2;
	overflow: hidden;
}

/**
 * 上の線
 */
.menu-btn:before {
	content: "";
	z-index: 3;
	/* 上にずらす */
	transform: translate(0, -8px);
}

/**
 * 下の線
 */
.menu-btn:after {
	content: "";
	z-index: 3;
	/* 下にずらす */
	transform: translate(0, 8px);
}

/**
 * 真ん中の線（クリック時）
 */
#menu-toggle:checked ~ .menu-btn span {
	/* 非表示にする */
	opacity: 0;
}

/**
 * 上の線（クリック時）
 */
#menu-toggle:checked ~ .menu-btn:before {
	/* 45度回転させる */
	transform: rotate(45deg);
}

/**
 * 下の線（クリック時）
 */
#menu-toggle:checked ~ .menu-btn:after {
	/* -45度回転させる */
	transform: rotate(-45deg);
}

/* アニメーションをつける */
.menu-btn:before,
.menu-btn:after {
	transition: transform 300ms;
}

/* メニューリスト */
.menuList {
	/* 通常時は非表示 */
	display: none;
	background-color: var(--color-sub);

	background-color: var(--color-black-area);
}

/* ナビゲーションボタンがクリックされた時のメニュー */
#menu-toggle:checked ~ .menuList {
	/* ナビゲーションメニューのボタンがクリックされたら表示 */
	display: block;
	opacity: 100%;
}

/* メニューのリスト */
.hamburgerMenuInner {
	margin: 2%;
}

.hamburgerMenuInner ul {
	list-style: none;
	margin: 0;
}

.hamburgerMenuInner ul li a {
	padding: 10px;
}

.menuList ul li:hover > ul {
	display: block;
	width: 100%;
}

/* リンクの装飾 */
.menuList ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menuList ul li {
	position: relative;
}

/* ホバーされた子要素 */
.menuList ul li:hover > ul {
	display: none;
	width: 100%;
}

.menuList ul li a {
	display: block;
	position: relative;
	text-decoration: none;
	padding: 15px;

	color: var(--text-color-white);
}

@media (prefers-color-scheme: dark) {
	/* ダークテーマもでも白文字になるように、ダークテーマでの白文字を指定 */
	.menuList ul li a {
		color: var(--text-color-black);
	}
}
.menuList ul ul {
	display: none;
}

/* カテゴリーだけカテゴリの中身を表示するように */
.menuList .categories li {
	display: none;
}

.menuList .categories ul,
.menuList .categories ul li {
	display: block;
}

.menuList ul li a:hover {
	background-color: var(--color-black-area-hover);
}

.menuList ul li a:hover::before {
	content: "▼";
}
