.header-inner {
	width: 100%;

	color: var(--text-color-white);
	background-color: var(--color-sub);
}

.homeImg img {
	width: 16em;
}

@media screen and (max-width: 768px) {
	.homeImg img {
		width: 33%;
	}
}
