.container {
	margin: 0;
}

.contentWrapper {
	padding: 0;
}

.contentInner {
	margin: 0 8%;
	padding: 2%;
	background-color: var(--color-main);
}

.logo {
	background-color: var(--color-sub);
}

.logo img {
	width: 32em;
	margin: 0 auto;
}

.updateInfo {
	padding: 2em;
	padding-top: 0em;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-common);
}

.updateInfo h2 {
	font-family: yusei-magic, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 2em;
	margin-bottom: 1.6em;
	text-align: center;
}

.updateInfo h3 {
	border-bottom: 0.2em dotted var(--color-main-dark);
}

.pin {
	width: 3em;
}
