.container {
	margin: 0;
}

.contentWrapper {
	padding: 0;
}

.contentInner {
	margin: 0 8%;
	padding: 2%;
	background-color: var(--color-main);
}

.logo {
	background-color: var(--color-sub);
}

.logo img {
	width: 32em;
	margin: 0 auto;
}

.updateInfo {
	padding: 2em;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-common);
}
