/* ページネーションナビゲーション */
.page-navigation {
    margin: 1em 0;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.page-navigation li {
    list-style: none;
    display: inline-block;
    margin: 0 0.2em;
    font-size: 1.3em;

    background-color: unset;
    border: solid var(--color-sub);

    transition: transform 0.3s;
}

.page-navigation li:hover {
    transform: scale(1.1);
}

.page-navigation li a {
    text-decoration: none;
    display: inline-block;
    width: 1.3em;
    height: 1.3em;

    color: var(--color-sub);
}

.page-navigation .current {
    font-size: 1.8em;

    background-color: var(--color-sub);
}

.page-navigation .current a {
    color: var(--text-color-white);
}

.page-navigation .between,
.page-navigation .between:hover {
    background-color: unset;
    color: var(--color-sub);
    border: none;
    transition: unset;
    transform: none;
}
