.article-date {
    color: var(--text-color-black-hover);
    font-size: 0.8em;
}

.main-article h2::before {
    display: inline-block;
    content: "";
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    left: 0.2em;

    background: url(/images/icon_chara_white.svg) no-repeat;
    background-size: contain;
    margin-right: 0.2em;
    vertical-align: middle;
}

.main-article h2::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 1em;

    /* 三角形部分 */
    border: 0.5em solid transparent;
    border-top: 0.5em solid var(--color-sub);
}

.main-article h2 {
    font-size: 1.6em;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 0.4em;
    padding-left: 1.5em;

    background-color: var(--color-sub);
    color: var(--text-color-white);
    font-weight: normal;

    /* 三角形のために設定 */
    position: relative;
}

.main-article img {
    box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius)
        var(--shadow-color-main);
}

.main-article code:not(pre code) {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

@media (prefers-color-scheme: dark) {
    .main-article h2 {
        color: var(--text-color-black);
    }
}

.main-article h3::after {
    display: block;
    content: "";
    width: 100%;
    height: 0.12em;
    background-color: var(--color-sub);
    border-radius: 0.1em;
}

.main-article h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.4em;
}

.main-article h4 {
    margin-top: 1em;
    font-size: 1.2em;
}

.main-article p {
    margin: 1.5em 0;
    line-height: 1.6;
}

/* リスト共通 */
.main-article > ul,
.main-article > ol {
    padding: 1em 0;
}

.main-article ul li,
.main-article ol li {
    margin-bottom: 0.8em;
    position: relative;
    padding-left: 2em;
}

.main-article ul li::before,
.main-article ol li::before {
    position: absolute;
    left: 0;
    color: var(--color-sub);
}

/* 番号ありリスト */
.main-article ol {
    counter-reset: list-counter; /* カウンターをリセット */
}

.main-article ol li::before {
    content: counter(list-counter) ". "; /* カウンターをリストアイテムの前に表示 */
    counter-increment: list-counter; /* カウンターをインクリメント */
    font-size: 1.5em;
    position: absolute;
    top: -0.22em;
}

/* 番号なしリスト */
.main-article ul li::before {
    content: "●";
    vertical-align: middle;
}

.main-article ul li li::before {
    content: "○";
}

.main-article ul li li li::before {
    content: "・";
}

.main-article ul ul {
    margin-left: 1em;
}

/* カスタム番号なしリスト */
.main-article ul.list li {
    padding-left: 2.5em;
}

.main-article ul.list li::before {
    content: unset;

    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;

    position: absolute;
    top: -0.1em;
}

/* チェックリストっぽいリストにする */
.main-article .list.checkBox li::before {
    content: "\f1fe";
}

.main-article .list.checkBox li.unchecked::before {
    content: "\e835";
}

.main-article .list.check li::before {
    content: "\e5ca";
}

/* インラインコード */
.main-article :not(pre) > code {
    background-color: var(--color-block-quote);
    color: var(--text-color-quote);
    padding: 0.1em 0.4em;
    border-radius: var(--border-radius-default);
}

/* テーブル */
/* 基本のテーブルスタイル */
.main-article table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

/* テーブルヘッダー */
.main-article th {
    background-color: var(--color-table-header);
    font-weight: normal;
    font-size: 1.2em;
    padding: 0.4em;
    color: var(--text-color-table-header);
}

/* テーブルセル */
.main-article td {
    padding: 0.5em;
}

/* テーブルの奇数行の背景色を変更する */
.main-article tr:nth-child(odd) {
    background-color: var(--color-table-background-odd);
}

/* テーブルの偶数行の背景色を変更する */
.main-article tr:nth-child(even) {
    background-color: var(--color-table-background-even);
}

/* マウスホバー時の色変更 */
.main-article tbody > tr:hover {
    background-color: var(--color-table-background-hover);
}

/* ブロック系：記事内に限定しなくてよい */
.text-block::before {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;

    position: absolute;
    left: 0.4em;
    top: 0.4em;
}
.text-block {
    border-radius: 0.4em;
    padding: 1em;
    margin: 1em 0;

    padding-left: 3.2em;
    position: relative;

    color: var(--text-color-block);
}
/* text-block--info */
.text-block--info.text-block::before {
    content: "\e88e";
    color: var(--icon-color-info);
}
.text-block--info.text-block {
    background-color: var(--color-block-info);
}
/* text-block--warning */
.text-block--warning.text-block::before {
    content: "\e002";
    color: var(--icon-color-warning);
}
.text-block--warning.text-block {
    background-color: var(--color-block-warning);
}
/* text-block--error */
.text-block--error.text-block::before {
    content: "\e000";
    color: var(--icon-color-error);
}
.text-block--error.text-block {
    background-color: var(--color-block-error);
}
/* quoteBlock */
blockquote.text-block::before {
    content: "\e244";
    color: var(--icon-color-quote);
}
blockquote.text-block {
    background-color: var(--color-block-quote);
    color: var(--text-color-quote);
    border-left: 0.5em solid var(--icon-color-quote);
}

blockquote.text-block blockquote {
    padding-left: 0.4em;
    border-left: 0.4em solid var(--icon-color-quote);
}

/* 外部リンクのアイコン */
.external-link::before {
    content: "\e89e";
    vertical-align: -0.2em;

    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
