.link {
  align-items: baseline;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-all;
}

.favicon {
  vertical-align: baseline;
}

.icon {
  width: 1em;
  flex-shrink: 0;
  vertical-align: middle;
  fill: -webkit-link;
}
