/* 何故かこのファイルだけ最初のCSSだけ効かなくなってしまうので、ダミーの未使用のCSSをおいて様子見。 */
.dummy{
  color: var(--text-color-pale);
}

.container{
  margin-bottom: 16px;
  color: var(--text-color-pale);
}

.icon {
  fill: var(--text-color-pale);
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: -0.2em;
}

.date-container{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.text {
  margin: 0;
}
