/* https://github.com/rehypejs/rehype-github/tree/main/packages/color#css */

/* Default dark */
:root {
  --color-border-default: #30363d;
  --color-border-subtle: rgba(240 246 252 / 10%);
}

.d-inline-block {
  display: inline-block !important;
}

.ml-1 {
  margin-left: 4px !important;
}

.color-border-subtle {
  border-color: var(--color-border-subtle) !important;
}

.circle {
  border-radius: 2px !important;
}

.border {
  border: 1px solid var(--color-border-default) !important;
}