
.container{
    display: inline-flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
}

.link{
    font-size: 1.6rem;
}

.icon {
    width: 1.2em;
    height: 1.2em;
}

.note {
    width: 1.9em;
    height: 1.9em;
}

.icon-color {
    fill: var(--text-color);
}

.icon-color-reverse {
    fill: var(--text-color-reverse);
}

.icon-color-white{
  fill: var(--text-color-white);
}

.icon-color-black{
  fill: var(--text-color-black);
}

.image-container-2{
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
}

.image-container{
  flex: 1 1 180px;
  position: relative;
  min-width: 32px;
  min-height: 32px;
  margin-bottom: 8px;
}
