---
import Breadcrumbs, { type BreadcrumbElement } from "@/components/Breadcrumbs.astro";
import BaseLayout, { type Props as LayoutProps } from "@/layout/singleLayout.astro";

export interface Props extends LayoutProps{
  breadcrumbs: BreadcrumbElement[];
};

const { breadcrumbs, ...props } = Astro.props;
---

<BaseLayout {...props}>
  <Breadcrumbs breadcrumbs={breadcrumbs}/>
  <main class="container">
    <slot/>
  </main>
</BaseLayout>

<style>
  .container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style-position: inside;
  }
</style>
