.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.list {
  list-style: none;
  padding: 0;
  display: inline-flex;
  gap: 4px;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 16px 0;
}

.item {
  flex-shrink: 0;
}

.item:hover {
  transform: scale(1.1);
}

.link,
.link-current {
  text-decoration: none;
  display: inline-block;
  align-content: center;
  text-align: center;
  width: 32px;
  height: 32px;
  padding: 4px;
  font-weight: bold;
  border: solid 2px var(--color-sub);
  border-radius: 50%;
}

.link {
  background-color: initial; 
  color: var(--color-sub);
}

.link-current {
  background-color: var(--color-sub); 
  color: var(--text-color-white);
}

.icon {
  fill: var(--color-sub);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.icon-disabled {
  fill: var(--text-color-pale);
}
