.container{
    display: grid;
    grid-template-columns: repeat(var(--grid-column), 1fr);
    gap: 32px;
    margin: 16px;
    align-items: start;
}

.first-side{
    grid-column: span 3;
    position: sticky;
    top: 16px;
}

.toc-container{
    background-color: var(--color-main);
    border:1px solid var(--border-color-main);
}

.share-buttons-container {
    margin: 1rem 0;
}

.article{
    grid-column: span 6;
    padding: 24px;
    background-color: var(--color-main);
    border:1px solid var(--border-color-main);
}

.last-side{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.ads-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ads-container::before{
    content: "PR";
}

@media screen and (width <= 1280px){
    .container{
        gap: 16px;
    }

    .article{
        grid-column: span 9;
    }

    .last-side{
        grid-column: 4 / span 9;
    }
}

@media screen and (width <= 500px){
    .container{
        margin: 16px 0;
    }

    .first-side,
    .article,
    .last-side {
        grid-column: span 12;
    }

    .first-side{
        position: relative;
        top: initial;
    }
    
    .article{
        padding: 16px;
    }
}
