.container{
    display: grid;
    grid-template-columns: repeat(var(--grid-column), 1fr);
    gap: 32px;
    margin: 16px;
    align-items: start;
}

.first-side{
    grid-column: span 3;
    position: sticky;
    top: 0;
}

.article{
    grid-column: span 6;
}

.last-side{
    grid-column: span 3;
}

.article,
.last-side {
    padding: 24px;
    background-color: var(--color-main);
    box-shadow: 0 0 var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color-main);
}

@media screen and (768px<= width < 1280px){
    .article{
        grid-column: span 9;
    }

    .last-side{
        grid-column: 4 / span 9;
    }
}

@media screen and (width < 768px){
    .container{
        gap: 16px;
    }

    .first-side,
    .article,
    .last-side {
        grid-column: span 12;
    }

    .first-side{
        position: relative;
    }
}
