.content-wrapper {
    -webkit-flex: 4;
    flex: 6;
    /* サイズが変わったときに不必要に横に伸びないようにする調整 */
    width: 1em;

    background-color: var(--color-main);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px var(--shadow-blur-radius) var(--shadow-spread-radius)
        var(--shadow-color-main);
}

.main-container {
    display: -webkit-flex;
    display: flex;
    margin: 0 auto;
    padding: 0 1em;
}

.container-r-wrapper {
    display: flex;
    flex: 12;
}

.side-l-wrapper {
    -webkit-flex: 2;
    flex: 2;
}

.side-r-wrapper {
    -webkit-flex: 2;
    flex: 2;
}

.content-wrapper,
.side-l-wrapper {
    margin-right: 2em;
}

/* 横幅が指定ピクセルまで、以下を適用 */
@media screen and (min-width: 1940px) {
    /* 横幅1920固定にしたいので、↑を1940からにして横にはみ出さないようにする */
    .container-wrapper {
        width: var(--content-width);
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1280px) {
    .container-wrapper {
        width: unset;
    }
    .container-r-wrapper {
        display: block;
        flex: 8;
        /* 調整 */
        width: 1em;
    }

    .main-container {
        width: unset;
    }

    .side-r-wrapper {
        display: block;
        margin-top: 1em;
    }

    .content-wrapper {
        margin-right: 0;
        /* 調整戻し */
        width: unset;
    }
}

@media screen and (max-width: 768px) {
    .main-container,
    .container-r-wrapper,
    .content-wrapper,
    .side-l-wrapper,
    .side-r-wrapper {
        display: block;
    }

    .content-wrapper,
    .side-r-wrapper {
        margin: 0;
    }

    .container-r-wrapper,
    .side-l-wrapper,
    .side-r-wrapper {
        margin: 1em 0;
    }

    .main-container {
        padding: 0;
    }

    .container-r-wrapper {
        /* 調整戻し */
        width: unset;
    }
}

.column-title {
    margin: 1em 0 0.5em 0;
    font-size: 1.8em;
}

.content-container hr {
    margin: 1em 0;
}
