.container{
    background-color: var(--color-black-area);
}

.list{
    margin: 0;
    padding: 0;
}

.item {
    list-style: none;
    display: inline-block;
}

.item::after {
    display: block;
    position: relative;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    background-color: var(--text-color-white);
}

.item:hover::after {
    transform: scaleX(1);
}

.link {
    text-decoration: none;
    display: block;
    padding: 12px;
    padding-top: 16px;
}

.container,
.link {
    color: var(--text-color-white);
}

.link:hover {
    color: var(--text-color-white-hover);
}
