body {
  max-width: 100vw;
  font-size: 16px;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  background-color: var(--color-main);
  background-image: var(--path-background-image);
  background-size: 256px;
  background-repeat: repeat;
  color: var(--text-color);
}

body,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif, "Segoe UI Emoji";
}

ol ,ul,li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: bottom;
  object-fit: contain;
}

p {
  line-height: 2em;
}

a{
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
