---
import Icon from "@/components/Icon.astro";
import Layout from "./_layout.astro";
---

<Layout>
  <h1>Astro</h1>
  <h2>アイコンの例</h2>
  <Icon name="article" size={32} />
  <Icon name="homironiRoundStar" size={64} />
</Layout>
