---
import Icon from "@/components/Icon.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>.hoge{color:"red"}</style>
	</head>
	<body>
		<h1>Astro</h1>
		<h2>＃＃アイコンの例</h2>
		<Icon name="article" size={32} />
		<Icon name="homironiRoundStar" size={64} />
	</body>
</html>
