html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-kosugi-maru), "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Yu Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  background-color: var(--color-main);
  background-image: var(--path-background-image);
  background-size: 256px;
  background-repeat: repeat;
  color: var(--text-color-black);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
