:root {
    --font-kosugi-maru: "Kosugi Maru";

    /* color */
  
    --color-main: #fcf9f7;
    --color-main-dark: #ebe6e3;
    --shadow-color-main: #f3e8e4;
    --shadow-color-main-pale: #ebddd8;
    --color-sub: #79cdee;
    --color-sub-pale: #a9dcf0;
    --color-sub-light: #dcf5ff;
    --color-sub-dark: #79bcd6;
    --color-sub-alpha: #79cdeee3;
    --color-accent: #fdb515;
    --color-black-area: #333333;
    --color-black-area-hover: #555555;
    --shadow-color-common: #56389c31;

    /* text color */

    --text-color-white: #ffffff;
    --text-color-white-hover: #dbd9d9;
    --text-color-black: #111111;
    --text-color-black-hover: #858585;
    --text-color:var(--text-color-black);
    --text-color-hover:var(--text-color-black-hover);
    --text-color-reverse:var(--text-color-white);
    --text-color-reverse-hover:var(--text-color-white-hover);

    /* text-block color */
  
    --text-color-block: #111111;
    --color-block-info: #c8e5ff;
    --icon-color-info: #2875da;
    --color-block-warning: #f7eec7;
    --icon-color-warning: #e2a22a;
    --color-block-error: #f7c7c7;
    --icon-color-error: #e22a2a;
    --color-block-quote: #ececec;
    --icon-color-quote: #acacac;
    --text-color-quote: #5a5a5a;
  
    /* table color */
  
    --color-table-header: var(--color-sub);
    --text-color-table-header: var(--text-color-white);
    --text-color-table-border: var(--color-main);
    --color-table-background-odd: var(--color-main);
    --color-table-background-even: #e8f2fa;
    --color-table-background-hover: #d3e3ee;
    
      /* background image */
  
    --path-background-image: url("/images/background.svg");
}

@media (prefers-color-scheme: dark) {
  :root {
    /* color */

    --color-main: #444141;
    --color-main-dark: #525252;
    --shadow-color-main: #333130;
    --shadow-color-main-pale: #33302f;
    
    /* text color */

    --text-color:var(--text-color-white);
    --text-color-hover:var(--text-color-white-hover);
    --text-color-reverse:var(--text-color-black);
    --text-color-reverse-hover:var(--text-color-black-hover);


    /* table color */

    --color-table-background-even: #484b4d;
    --color-table-background-hover: #767e83;

    /* text-block color */

    --color-block-info: #b2d0e9;
    --color-block-warning: #e2dbbe;
    --color-block-error: #ec9898;
    --color-block-quote: #d8d8d8;

    /* background image */
    
    --path-background-image: url("/images/background_dark.svg");
  }
}