.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 1rem;
}

.title{
  text-align: center;
  margin: 2rem 0 0;
}

.list{
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.item{
  display: block;
  padding: 0.5rem;
  border-bottom: 0.2em dotted var(--color-main-dark);
}

.time{
  padding-right: 0.8rem;
}

.more{
  display: block;
  text-align: center;
  padding: 1rem;
}

@media screen and (width <= 500px) {
  .container {
    padding: 0;
  }

  .list{
    padding: 0;
  }
}