---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"details"> {
  summary: string;
};

const props = Astro.props;
---

<details>
  <summary>{props.summary}</summary>
  <div class="details-container">
    <slot/>
  </div>
</details>

<style>
  summary{
    padding: 0.5rem;
    background-color: var(--color-main);
    border: 1px solid var(--border-color-main);
    border-radius: var(--border-radius);
  }

  details[open] > summary{
    border-bottom: none;
    background-color: color-mix(in srgb, var(--color-main), var(--color-sub) 10%);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  .details-container{
    padding: 0.5rem 1rem;
    background-color: var(--color-main);
    border: 1px solid var(--border-color-main);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
</style>
