---
import { productLinks, rakutenWidgetHtml, type AffiliateProductLinkKey } from "@/data/affiliateLinks";

export type Props = { type: "rakutenWidget" } | { type: "productLink"; id: AffiliateProductLinkKey };

const props = Astro.props; 

const affiliateHtml = props.type === "rakutenWidget" ? rakutenWidgetHtml : productLinks[props.id];
---

<div class="container">
  <Fragment set:html={affiliateHtml} />
</div>

<style>
  .container {
    margin: 0 auto;
    padding: 8px;
    max-width: 100%;
    background-color: var(--color-main);
    border: solid 1px var(--border-color-main);
  }
  
  .container::before{
    content: "広告";
    color: var(--text-color-pale);
    display: block;
    font-size: 0.75rem;
    padding-bottom: 4px;
  }
</style>
