---
interface Props {
  max: number;
  current: number;
};

const { max, current } = Astro.props;

const ratio = current / max * 100;
---

<div class="container" >
  <div style={ {width: `${ratio < 0 ? 0 : ratio}%`} } class="bar" />
</div>

<style>
  .container,
  .bar {
    height: 16px;
  }

  .container {
    width: 256px;
    max-width: 100%;
    background-color: var(--color-main-dark);
    border-radius: var(--border-radius);
  }

  .bar {
    background-image: linear-gradient(to right, var(--color-sub-pale), var(--color-sub));
    border-radius: var(--border-radius);
  }
</style>
