---
import { getAllAffiliate } from "@/lib/collection";
import type { ArticleMeta } from "@/schemas/article/meta";
import { getEntries } from "astro:content";
import ArticleAffiliate from "./article/ArticleAffiliate.astro";

interface Props {
  articleMeta : ArticleMeta;
};

const { articleMeta } = Astro.props;

const relatedArticleMax = 4;

const all = await getAllAffiliate();

// タグの一致数を計算し、優先度付けして選択
const relatedAffiliateIds: string[] = (await Promise.all(all
  .map(async affiliate => {
    // 現在の記事のタグと対象Affiliateのタグの共通部分を計算
    const currentTags = (await getEntries(articleMeta.tags)) ?? [];
    const targetTags = (await getEntries(affiliate.data.tags ?? [])) ?? [];
    
    const matchingTagsCount = currentTags.filter(tag => 
      targetTags.some(targetTag=> targetTag.id === tag.id)
    ).length;
    
    return {
      affiliate,
      matchingTagsCount
    };
  })))
  .sort((a, b) => {
    // タグの一致度降順
    return b.matchingTagsCount - a.matchingTagsCount;
  })
  .slice(0, relatedArticleMax)
  .map(item => item.affiliate.id);
---

<div>
  <p class="title">広告</p>
  <ul class="list">
    {relatedAffiliateIds.map(id=>{
      return (
        <li class="item">
          <ArticleAffiliate id={id} />
        </li>
      );
    })}
  </ul>
</div>

<style>
  .title {
    font-size: 1.2rem;
  }

  .list{
    list-style: none;
  }

  .item{
    width: 100%;
  }
</style>
