.container{
    background-color: var(--color-main);
    border: 1px solid var(--border-color-main);
    max-width: var(--article-thumbnail-width);
    transition: transform 0.3s;
}

.container:hover{
    transform: scale(1.02);
}

.link{
    text-decoration: none;
}

.text-container{
    padding: 0.5rem;
}

.title{
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 3rem;
}

.date-container{
    text-align: right;
    color: var(--text-color-pale);
    font-size: 0.8rem;
}

.icon{
    fill: var(--text-color-pale);
    width: 1rem;
    height: 1rem;
    vertical-align: -0.2em;
}

.last-mod-date{
    margin-right: 0.5rem;
}
