---
import JsonLd from "@/components/JsonLd.astro";
import { getAllArticles } from "@/lib/collection";
import { createArticleJsonLd, createStaticArticleJsonLd } from "@/lib/jsonLd";
import Layout from "@/pages/_layout.astro";
import { isArticleMeta } from "@/schemas/article/meta";

/**
 * Astroの静的パラメータ生成
 * https://docs.astro.build/ja/reference/routing-reference/#getstaticpaths
 */
export async function getStaticPaths(){
  const articles = await getAllArticles();
  return articles.map(({id, data})=>{
    return {
      params: { id },
      props: { meta: data },
    };
  });
}

const { meta } = Astro.props;

// 通常の記事どうか：falseなら固定記事（aboutやcontact）
const isArticle = isArticleMeta(meta);
---

<Layout>
  <Fragment slot="head">
  { isArticle
      ? <JsonLd schema={ createArticleJsonLd(meta) } />
      : <JsonLd schema={ createStaticArticleJsonLd(meta) } />
    }
</Fragment>
<!-- TODO：記事レイアウト作る -->
<p>{isArticle && meta.id}：{meta.title}</p>
<p>{meta.description}</p>
</Layout>
