.container{
    background-color: var(--color-black-area);
    padding: 24px;
}

.logo-container{
    width: 200px;
    aspect-ratio: 3/1;
    position: relative;
    margin: 0 auto;
}

.copy-light {
    color: var(--text-color-white);
    text-align: center;
}