.container{
    background-color: var(--color-black-area);
    padding: 24px;
}

.container,
.navigation-link {
    color: var(--text-color-white);
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    gap : 1rem;
}

.navigation-item {
    list-style: none;
}

.navigation-item::before {
    content: ">";
    margin-right: 2px;
}

.navigation-link {
    text-decoration: none;
}

.navigation-link:hover {
    color: var(--text-color-white-hover);
}

.logo-container {
    width: 200px;
    aspect-ratio: 3/1;
    position: relative;
    margin: 0 auto;
}

.copy-light {
    text-align: center;
}

@media screen and (width < 768px) {
    .navigation {
        flex-direction: column;
    }
}
