.container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.year-container {
  position: relative;
  text-align: center;
  width: 6em;
  height: 6em;
  transition: transform 0.3s;
}

.year-container:hover {
  transform: scale(1.1);
}

.icon {
  fill: var(--color-sub);
  width: 100%;
  height: 100%;
}

.text-container {
  position: absolute;
  top: 24px;
  width: 100%;
  font-weight: bold;
  color: var(--text-color-white);
}

.text-container > p {
  margin: 0;
}
