---
layout: base.njk
permalink: /400.html
eleventyExcludeFromCollections: true
---
<main class="mainContainer">
    <h1>400 Bad Request</h1>
    <p>URLのスペルを確認してみてください。</p>
    <p>それでもだめなら、キャッシュと Cookie の消去をお試しください。<p>
    <p>お使いのブラウザによって操作方法は異なります。参考にGoogle choromeの公式ヘルプを載せておきます。</p>
    <a 
    href = "https://support.google.com/accounts/answer/32050?hl=ja&co=GENIE.Platform%3DDesktop" 
    target = "_blank">
    【Google chrome】キャッシュと Cookie の消去
    </a>
</main>