---
layout: base.njk
permalink: /401.html
eleventyExcludeFromCollections: true
---
<main class="mainContainer">
    <h1>401 Unauthorized</h1>
    <p>認証に失敗しました。</p>
    <p>当サイトにはIDやパスワードを入力していただくページはありません。</p>
    <p>サイトへ戻ってお楽しみください。</p>
</main>