---
layout: base.njk
permalink: /
eleventyNavigation:
    key: home
---

{# homeのcss #}
{% block css -%}
<link rel="stylesheet" href="/styles/home.css" />
{%- endblock%}

<div class="container">
    <main class="mainContainer">
        <div class="contentWrapper">
            <div class="resizeImg logo">
                <img src="/images/logo.svg" />
            </div>
            <div class = "contentInner">
                {# 更新情報 #}
                <div class = "updateInfo">
                    <h2>更新情報</h2>
                    <h3><time datatime = "2023-07-01">2023年07月01日</time>
                        {# サイトを開設しました、みたいなページ作ったらそこのリンクにする↓ #}
                        <a href = "/">サイト開設</a>
                    </h3>
                </div>
                {# 更新情報ここまで↑ #}
            </div>
        </div>
    </main>
</div>