---
layout: base.njk
permalink: /
eleventyNavigation:
    key: home
---

{# homeのcss #}
{% block css -%}
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/board.css" />
    <link rel="stylesheet" href="/styles/categoryList.css" />
    <link rel="stylesheet" href="/styles/categoryDisplay.css" />
    <link rel="stylesheet" href="/styles/column3.css" />
    {%- endblock%}
    <main class="main-container">
        <div class="side-l-wrapper">
            <div class="side-l-inner">
                <a href="https://px.a8.net/svt/ejp?a8mat=3ZFGW2+FWR0QA+CO4+67C4H" rel="nofollow">
                    <img border="0" width="100" height="60" alt="" src="https://www29.a8.net/svt/bgt?aid=240906818962&wid=001&eno=01&mid=s00000001642001042000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3ZFGW2+FWR0QA+CO4+67C4H" alt="">
            </div>
        </div>
        <div class = "container-r-wrapper">
            <div class="content-wrapper">
                <div class = "content-innerr board">
                    {# 更新情報 #}
                    <div class = "updateInfo">
                        <div class="resizable-img board-pin">
                            <img src = "/images/items/pin.svg" />
                        </div>
                        <h2>更新お知らせ</h2>
                        <h3>
                            <time datatime = "2024-08-24">2024/08/24</time>
                            <a href = "/categories/memo/1/">Google 日本語入力を使ってCapsLock で日本語英語切り替え！</a>
                        </h3>
                        <h3>
                            <time datatime = "2024-03-17">2024/03/17</time>
                            <a href = "/categories/developGame/0/">【UE5】アプリの名前設定めも【Unreal Engine】</a>
                        </h3>
                        <h3>
                            <time datatime = "2024-03-08">2024/03/08</time>
                            <a href = "/categories/makeWeb/2/">【CSS】色をまとめてダークテーマも対応！</a>
                        </h3>
                        <h3>
                            <time datatime = "2024-02-16">2024/02/16</time>
                            <a href = "/categories/developOther/2/">Doxygen で XML ドキュメントコメントを使うめも</a>
                        </h3>
                        <h3>
                            <time datatime = "2023-12-21">2023/12/21</time>
                            <a href = "/categories/developOther/1/">マークダウンの書き方めも</a>
                        </h3>
                        <h3>
                            <time datatime = "2023-12-19">2023/12/19</time>
                            <a href = "/categories/developOther/0/">GitHubActionsでビルドからアップロードまでしてみるめも</a>
                        </h3>
                        <h3>
                            <time datatime = "2023-12-04">2023/12/04</time>
                        ダークテーマに対応してみました
                            </h3>
                        <h3>
                            <time datatime = "2023-11-14">2023/11/14</time>
                            <a href = "/categories/makeWeb/1/">ホームページを作る！＃２〜現在の制作環境とツール〜</a>
                        </h3>
                        <h3>
                            <time datatime = "2023-09-13">2023/09/13</time>
                            <a href = "/categories/makeWeb/0/">ホームページを作る！＃１〜動機と目次〜</a>
                        </h3>
                        <h3>
                            <time datatime = "2023-07-01">2023/07/01</time>
                            <a href = "/categories/memo/0/">サイト開設</a>
                        </h3>
                    </div>
                    {% include "categoryList.njk" %}
                </div>
            </div>
            <div class="side-r-wrapper">
                {% include "sideRInner.njk" %}
            </div>
        </div>
    </main>